* html{
    margin: 0 auto;
}
body{
    text-align: center;
    background-image: linear-gradient(
                            rgba(255,255,255,255),rgba(255,255,255,.6)
                          ), url("https://img1.goodfon.com/original/1919x1079/a/85/flour-baked-cookies.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    opacity: 0.9;


}

h1{
    font-family: "Garamond", serif;
    color: black;
    text-align: center;
    text-decoration: underline;

}

h2{
    font-family: "Brush Script MT", cursive;
    color: black;
    margin: 0 auto;
    text-align: center;
}

ul{
    font-family: "Brush Script MT", cursive;
    color: black;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    margin-left: 0;
    padding-left: 0;

}

li {
  font-family: "Brush Script MT", cursive;
  color: black;
  text-align: center;
  margin: 0 auto;

}

.risk{
    text-decoration: line-through;
}

p {
  color: black;
  text-align: center;
  margin: 0 auto;
  width: 40%;

}

.italic{
    font-style: italic;
}

.footer {
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.15);
    align-items: center;
    font-size: 14px;
    width: 100%;


}

img{
  height: 22px;
  max-width: 100%;

}

main {
  box-sizing: border-box;
  border: 1.8px solid black;
  padding: 10px;
  width: 35%;
  margin: 0 auto;
  border-radius: 25px;
}
